#header {
    text-align: center;
    background-color: #03045e;
}

#body {
    font-family: Courier New;
    background-color: #ade8f4;
    text-align: center;
}

#box {
    background-color: #023e8a;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 10px;
}

#nav {
    width: 180px;
    float: left;
}

#main {
    width: 600px;
    float: right;
}

#footer {
    clear: both;
}