header {
    text-align: center;

}

body {
    font-family: Courier New;
    background-color: white;
    text-align: center;
}

container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}