body {
    font-family: Courier New;
    background-color: #999;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    background-color: lavender;
    padding: 10px;
}

#description {
    color:#111;
}

#box {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}