body {
    font-family: Courier New;
    background-color: rgb(230, 202, 247);
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(74, 10, 112);
    background-color: lavender;
    padding: 10px;
}

#description {
    color:darkmagenta
}

#box {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}